#include <@nameProject.h>
using namespace baci;
@nameProject :: @nameProject const ACE_CString& name, maci::ContainerServices *containerServices):CharacteristicComponentImpl(name,containerServices)
{
ACS_TRACE(\":: @nameProject :: @nameProject : This is the constructor\");
}
//The destructor is empty.
@nameProject ::~ @nameProject()
{
}
/* ---------- [ Implementator interface ] ---------- */