#ifndef @nameProjectImpl_h
#define @nameProjectImpl_h
#ifndef __cplusplus
#endif
#include <baciCharacteristicComponentImpl.h>
#include <@nameProjectS.h>
#include <baciROdouble.h>
#include <baciSmartPropertyPointer.h>
using namespace baci;
@nameProject 
class @nameProject : public virtual CharacteristicComponentImpl,public virtual POA_WeatherData:: @nameProject {
public:
/**
* @param poa poa which will activate this and also all other COBs 
* @param name Component name"
*/
@nameProject (const ACE_CString& name, maci::ContainerServices* containerServices);
/**
* Destructor
*/
virtual ~ @nameProject();
/* ---------- [ Implementator interface ] ---------- */