<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			class="acsucn.eclipse.plugin.graphics.projectpreferences.Properties"
            id="ACSProjectsProperties.ACSProperties"
            name="ACS Project Properties">
		</page>
	</extension>
   
   	<extension
		point="org.eclipse.ui.views">
		<view
            class="acsucn.eclipse.plugin.graphics.projectpreferences.ViewSelectionListener"
            id="acsucn.eclipse.plugin.graphics.projectpreferences.selectionlistener"
            name="JarFile Search"/>
   	</extension>
  
   	<extension
        point="org.eclipse.ui.newWizards">
      	<category
            id="acsucn.eclipse.plugin.graphics.wizard.ACSProjects"
            name="ACS Projects">
      	</category>
      	<wizard
            category="acsucn.eclipse.plugin.graphics.wizard.ACSProjects"
            class="acsucn.eclipse.plugin.graphics.wizards.ACSJavaProject"
            id="ascucn.eclipse.plugin.graphics.wizards.ACSJavaProject"
			name="ACS Java Project">
		</wizard>
   	</extension> 
   
</plugin>
